.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
  margin-left: 90px;
}

.search-form>.input-box {
  display: flex;
  width: 60%;
  height: 6vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #808000;
  padding: 5px;
}

.search-icon {
  width: 100%;
}

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
}


.grid-6 {
  display: flex;
  text-align: center;
  font-size: 18px;
}

.header__bar {
  display: flex;
  text-align: center;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0;
  margin-bottom:
  *zoom: 1;
}

.top-page-header {
  width: 80%;
  padding: 0vh 15vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.nav {
  font-size: 18px;
  display: block;
  justify-content: space-between;
  width: 100%;
}

.lists {
  display: flex;
  list-style: none;
  align-items: center;
}

.btn,
  div.user_nav a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #808000;
  color: #808000;
  border-radius: 70px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  margin-left: 43vw;
}

.btn:hover,
  div.user_nav a.post:hover {
  border-color: #556B2A;
  color: #556B2A;
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}


.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  *zoom: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.row .grid-6 {
  float: left;
  margin-left: 0.9%;
  margin-right: 0.9%;
  width: 48.2%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse>.column,
.row.collapse>.columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

@media only screen and (max-width: 40em) {

  .row {
    width: 100%;
    padding: 0 20px !important;
  }

  .grid-6, {
    float: none;
    width: 100% !important;
    margin: 0 !important;
    position: static !important;
  }
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  margin-left: 2vw;
  color: #777777;
  font-weight: bolder;
}

.logout {
  text-decoration: none;
  color: #777777;
  font-weight: bolder;
  white-space: nowrap;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  margin-left: 2vw;
  color: #777777;
  font-weight: bolder;
  white-space: nowrap;
}

.sign-up {
  text-decoration: none;
  color: #777777;
  font-weight: bolder;
  white-space: nowrap;
}


.form-header {
  text-align: center;
}


footer {
  padding: 15px;
  color: #D8D8D8;
  background-color: #FFF;
  border-top: 1px solid #D8D8D8;
}

footer p {
  text-align: center;
}