.container {
  display: flex;
  padding: 4vh 50vh 4vh 50vh;
}

.content-row {
  height: 100px;
}

input[type="text"] {
  width: 100%;
  height: 100px;
}

.new-header-text {
  border-bottom: 1px solid white;
  color: #160505;
}

.sell-btn-contents {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.send-btn {
  color: black;
  border: 0;
  font-size: 18px;
  font-weight: 300;
  background: transparent;
  margin: 5px;
}

.send-btn:hover {
  color: #F5DEB3;
}


.back-btn {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 300;
  margin: 5px;
}


a:hover {
  color: #F5DEB3;
}
