
.sell-btn-contents {
  margin-top: 5vh;
}

.back-btn {
  border-radius: 20px;
  margin-top: 30px;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}
